:root {
    --near-black: #140D0E;
    --egg: #FFFCF6;
    --piglet: #FFC1E3;
    --wine: #85192A;
    --creamsicle: #FFA654;
    --dandelion: #FFD600;
    --easter: #EDFFDC;
    --forest: #044A24;
    --navy: #0A1968;
    --deep-navy: #050A26;
    --lavender: #DCB9FF;
    --violet: #6E52FF;
}

body {
    background-color: #FFFFFF;
    color: var(--near-black);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}

*:focus-visible, .block a:focus-visible, #home a:focus-visible {
    outline: var(--violet) dashed 2px;
    outline-offset: 0px;
}

a {
    font-family: 'Space Mono', 'Space Grotesk', sans-serif;
    text-decoration: underline;
    font-style: italic;
    transition: 0.2s ease-in-out;
    color: var(--navy);
}

a:hover, a:focus-visible {
    font-weight: bold;
    text-decoration: underline wavy;
    transition: 0.2s ease-in-out;
}

p {
    margin: 0.25rem;
    line-height: 160%;
}

.block a, .block a:visited, .block button, a .block {
    border: none;
    display: flex;
    font-family: 'Rubik Mono One', 'Space Mono', 'Space Grotesk', sans-serif;
    text-decoration: none;
    font-style: normal;
    transition: 0.2s ease-in-out;

    /* things to overwrite later */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    background-color: var(--forest);
    color: var(--lavender);
}

.block a:hover, .block a:focus-visible, .project-tile:hover .block, .project-tile:focus-visible .block {
    transform: translate(4px, -4px);
    box-shadow: -0.5rem 0.5rem var(--lavender);
    transition: 0.2s ease-in-out;
}

a:focus-visible {
    outline: none;
}

nav {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 1rem;
    margin: 0;
}

nav li {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 0rem 0.75rem;
    order: 1;
}

.nav-order-left {
    order: 0;
}

.nav-order-right {
    order: 2;
}

#home {
    order: 1;
}

#home button, #home a {
    order: 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-family: 'Rubik Mono One', 'Space Mono', 'Space Grotesk', sans-serif;
    font-size: 3rem;
    font-style: normal;
    text-decoration: none;
    background-color: var(--dandelion);
    color: var(--forest);
    transition: 0.2s ease-in-out;
}

#home button:hover, #home button:focus-visible, #home a:hover, #home a:focus-visible {
    box-shadow: -8px 8px var(--forest);
    transform: translate(4px, -4px);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#no-vowels {
    font-size: 0.75rem;
    margin-top: -0.5rem;    
}

.minimize-nav #home a, .minimize-nav #home button {
    font-size: 2rem;
    transition: 0.2s ease-in-out;
}

main {
    text-align: center;
    width: 100%;
}

main section {
    margin: auto;
}

#introduction, .case-study {
    box-sizing: border-box;
    width: 48rem;
    padding: 4rem 0 0;
    text-align: left;
    color: var(--navy);
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#introduction {
    min-height: 100vh;
}

.intro-image {
    background: url(me.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--piglet);
    border-radius: 0.25rem;
    flex: 1 0 0;
    align-self: stretch;
    outline: 6px solid var(--creamsicle);
    min-height: 12rem;
    max-height: 36rem;
}

#introduction h1 {
    margin: 2rem 0 1.5rem;
    font-family: 'Rubik Mono One', 'Space Mono', 'Space Grotesk', sans-serif;
    font-size: 4rem;
    color: var(--navy);
}

#introduction h2 {
    font-family: 'Rubik Mono One', 'Space Mono', 'Space Grotesk', sans-serif;
    font-size: 1.25rem;
    margin: 2rem 0 1rem;
}

#introduction ul {
    list-style-type: none;
    font-family: 'Space Mono', 'Space Grotesk', sans-serif;
    font-style: italic;
    padding: 0;
    margin: 0 0 7rem;
}

#introduction li {
    display: flex;
    margin-top: 0.5rem;
}

#introduction li:nth-last-of-type(1) {
    margin-right: 0;
}

.intro-label {
    font-weight: bold;
    min-width: 12rem;
    margin-right: 1.5rem;
}

.intro-value {
    align-self: stretch;
}

.fact-card-value a, a:visited{
    color:var(--navy);
}

.case-study {
    width: 56rem;
    margin-bottom: 8rem;
}

.case-study h1, .case-study h2, .case-study h3 {
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
}

.case-study p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.case-study a {
    display: unset;
}

.pic {
    width: 100%;
    border-radius: 0.25rem;
    margin: 1.5rem auto 0;
}

.caption {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.case-study ul {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.case-study li {
    margin-bottom: 1rem;
}

#work-summary {
    min-height: 100vh;
}

.project-list {
    width: 50vw;
    margin: 4rem auto;
}


.project-tile {
    text-decoration: none;
    margin-top: 2rem;
    display: block;
    position: relative;
}

.project-tile img {
    width: 100%;
    border-radius: 0.25rem;
}

.project-tile:hover img {
    outline: 6px solid var(--forest);
    transition: .5s;
}

.project-tile:hover {
    text-decoration: none;
}

.project-name {
    position: absolute;
    bottom: 2rem;
    margin: 0 2rem;
    width: fit-content;
}

#work-summary h2 {
    margin: 0;
}

#marquee {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    padding: 1rem 0;
    margin: -3.25rem 0 0;
    background-color: var(--forest);
    color: var(--easter);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-family: 'Space Mono', 'Space Grotestk', sans-serif;
    font-style: italic;
}

#error-404 {
    font-family: 'Rubik Mono One', 'Space Mono', 'Space Grotesk', sans-serif;
    font-size: 2rem;
    color: var(--wine);
    padding-top: 8rem;
}

#error-404 h1 button {
    width: fit-content;
    margin: auto;
    padding: 0rem 2rem;
    border-radius: 0.25rem;
    font-size: 9rem;
    background-color: var(--wine);
    color: var(--creamsicle);
    box-shadow: -0.75rem 0.75rem var(--creamsicle);
}

#error-404 h1 button:hover, #error-404 h1 button:focus-visible {
    transition: 0.2s;
    box-shadow: -1.25rem 1.25rem var(--creamsicle);
    transform: translate(0.25rem, -0.25rem);
    cursor: pointer;
}

#bio {
    padding-top: 8rem;
}

#bio ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

#bio li {
    margin-bottom: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--violet);
    color: var(--easter);
    max-width: 100%;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin: 0 0.5rem;
}

footer a, footer a:visited {
    color: #EDFFDC;
}

@media screen and (max-width: 1024px) {
    main section:not(#work-summary), #introduction, .case-study, .project-list {
        width: 60%;
    }
    #introduction h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 800px) {
    main section:not(#work-summary), #introduction, .case-study, .project-list {
        width: 80%;
    }
    #introduction h1 {
        margin: 2rem 0 1.5rem;
        font-family: 'Rubik Mono One', 'Space Mono', 'Space Grotesk', sans-serif;
        font-size: 3rem;
        color: var(--navy);
    }
}


@media screen and (max-width: 480px) {
    .block a, a .block {
        font-size: 1rem;
    }

    nav ul {
        padding: 1rem 0;
    }

    #home a, #home button {
        font-size: 2rem;
    }

    .minimize-nav #home a, .minimize-nav #home button {
        font-size: 1.5rem;
    }
    
    #no-vowels {
        font-size: 0.5rem;
        margin-top: -0.25rem;
    }

    main section:not(#work-summary), #introduction, .case-study, .project-list {
        margin: 0 1rem;
        width: unset;
    }
    
    .case-study, .project-list {
        margin-bottom: 4rem;
    }

    .intro-image {
        height: 10rem;
    }

    #introduction, .case-study {
        padding-top: 3rem;
        font-size: 1rem;
    }

    #introduction h1 {
        font-size: 2.25rem;
        margin: 1.5rem 0 1rem;
    }

    #introduction h2 {
        margin: 1.5rem 0 0.5rem;
    }

    #introduction ul {
        margin: 0 0 6rem;
    }

    #introduction li {
        display: block;
    }

    #marquee {
        font-size: 1rem;
    }

    #error-404 {
        font-size: 1.5rem;
    }

    #error-404 h1 button {
        font-size: 4.5rem;
        padding: 0rem 1rem;
    }

    footer {
        text-align: center;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 0.5rem;
        font-size: 0.75rem;
    }

    footer li {
        display: inline-block;
        margin: 0 0.25rem;
    }
}